{% extends "base.html" %}

{% block css %}{% endblock %}
{% block main %}
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="image-grid-view">
                    <img  src="{{ url_for('get_image', filename=property.photo.split('/')[-1]) }}" class="card-img property-image" alt="{{ property.property_title }}">
                </div>           
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">{{ property.property_title }}</h1>
                    <div class="property-display">
                    <p class="card-text-price">${{ property.price }}</p>
                    <p class="card-text-type">{{ property.property_type }}</p>
                    </div>
                    <p class="card-texts"> {{ property.property_description }}</p>
                    <div class="property-display">
                    <p class="card-texts"> <i class="fas fa-bed"></i> {{ property.num_rooms }} Bedrooms</p>
                    <p class="card-texts"> <i class="fas fa-shower"></i> {{ property.num_bathrooms }} Bathrooms</p>
                    </div>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> {{ property.location }}</p>
                    <a href="#" class="btn btn-primary" style="background-color: green; border: none;">Email Realtor</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}{% endblock %}





